<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="internal-nlog.txt">

  <targets>
    <target xsi:type="file" name="allfile" fileName="nlog-all-${shortdate}.log" />
    <target xsi:type="console" name="console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="allfile,console" />
  </rules>
</nlog>